{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit page
{% endblock %}

{% block body %}
    
        <form action="{% url 'save' %}" method="post">
            <button type="submit" class="btn btn-outline-primary">submit</button>
            {% csrf_token %}
            <h3> title</h3>
            <input name="title" type="text" placeholder="Title" value="{{title}}">
            
            <h3>Change description</h3>
            <textarea name="content" placeholder="Describe.." class="placeholder" > {{content}} </textarea>            
        </form>

{% endblock %}